@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$blue-color: #141A41;
$red-color: #F82B43;
$heading-size: 26px;
$regular-size: 16px;
    

@mixin media-min($size) {
    @media screen and (min-width: $size){
        @content;
    }
}
@mixin media-max($size) {
    @media screen and (max-width: $size){
        @content;
    }
}