*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Abel', sans-serif;
    color: #000;
    font-size: $regular-size;
    font-weight: 400;
}
body.bg-blue{
    background-color: $blue-color;
}   

h3{
    font-size: $heading-size;
    font-family: 'Bayon', sans-serif;
    text-transform: uppercase;
}
a{
    color: unset;
    text-decoration: none;
    &:hover{
        color: unset;
    }
}
p{
    margin-bottom: 0;
    line-height: 20px;
}


button.btn:focus{
    box-shadow: none;
}

.red-line{
    border: 1px solid $red-color;
    width: 100%;
}