@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Abel', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

body.bg-blue {
  background-color: #141A41;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 26px;
  font-family: 'Bayon', sans-serif;
  text-transform: uppercase;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
}

p {
  margin-bottom: 0;
  line-height: 20px;
}

button.btn:focus {
  box-shadow: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end-center {
  display: flex;
  justify-content: end;
  align-items: center;
}

.red-line {
  border: 1px solid #F82B43;
  width: 100%;
}

.toggle-menu {
  left: 0 !important;
}

.header {
  background-color: #141A41;
  padding: 10px 0;
  color: #fff;
}

.header-menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu .logo img {
  margin-left: 65px;
  transform: rotate(90deg);
  width: 20px;
}

.accordion-nav .accordion {
  --bs-accordion-btn-focus-border-color: transparent !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-border-color: transparent !important;
  --bs-accordion-btn-active-icon: none !important;
  --bs-accordion-btn-icon: none !important;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-bg: transparent;
  width: 300px;
  margin-left: auto;
}

.accordion-nav .accordion-item {
  background-color: transparent !important;
}

.accordion-nav .accordion-header {
  box-shadow: none !important;
}

.accordion-nav .accordion-button {
  font-size: 26px;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Bayon', sans-serif;
}

.accordion-nav .accordion-button::after {
  display: none;
}

.accordion-nav .accordion-button img {
  transition: all 0.5s;
}

.accordion-nav .accordion-button:not(.collapsed) {
  color: #F82B43;
}

.accordion-nav .accordion-button:not(.collapsed) img {
  filter: invert(30%) sepia(79%) saturate(3463%) hue-rotate(336deg) brightness(96%) contrast(103%);
}

.accordion-nav .accordion-button:hover {
  color: #F82B43;
}

.accordion-nav .accordion-body {
  padding: 0 20px;
}

.accordion-nav .accordion-body ul {
  color: #fff;
  margin: 0;
  text-align: center;
}

.accordion-nav .accordion-body ul li {
  margin-bottom: 20px;
}

.accordion-nav .accordion-body ul li a {
  text-transform: uppercase;
}

.accordion-nav .accordion-body ul li a:hover {
  color: #F82B43;
}

.accordion-nav .accordion-body ul li.active {
  color: #F82B43;
}

.home {
  height: 100vh;
  padding: 50px 40px;
}

.home .logo {
  height: 86vh;
}

.home-catalogue {
  margin-bottom: 20px;
}

.home-catalogue .image {
  width: 264px;
  margin-left: auto;
}

.home-catalogue .image img {
  width: 100%;
}

.home-catalogue img {
  width: 100%;
}

.home-catalogue .download-catalogue .img {
  width: 38px;
  height: 41px;
}

.home-catalogue .download-catalogue .txt {
  color: #fff;
  line-height: 16px;
  width: 85px;
}

.home .typing-effect {
  bottom: 6%;
}

.typing-effect {
  position: relative;
  bottom: 5%;
  left: 0;
  right: 0;
}

.typing-effect #title {
  white-space: nowrap;
  vertical-align: middle;
  height: 100%;
  margin-left: 15%;
}

.typing-effect #text2 {
  display: inline-block;
  padding-left: 2%;
  text-shadow: black 2px 2px;
  overflow: hidden;
  border-right: 0.1em solid orange;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.vertical-menu {
  position: fixed;
  top: 0;
  left: 0px;
  width: 420px;
  height: 100%;
  background-color: #141A41;
  z-index: 1000;
  transition: .4s ease-in-out;
}

.vertical-menu #sidebar {
  padding: 43px 36px 58px;
}

.vertical-menu #sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 26px;
}

.vertical-menu #sidebar .logo img {
  height: 90vh;
}

@media screen and (max-width: 768px) {
  .vertical-menu #sidebar .logo img {
    height: 70vh;
  }
}

.vertical-menu #sidebar .quote h1 {
  font-size: 48px;
}

.vertical-menu #sidebar .quote p {
  text-indent: 10px;
  color: #e5e5e5;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .vertical-menu {
    width: 100%;
    overflow-y: auto;
    left: -1000px;
  }
}

.content {
  margin-left: 420px;
}

.content.flex-img {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.content-body {
  margin: 51px 0;
  padding-left: 20px;
}

.content-body article {
  margin-top: 1.6rem;
}

.content-body article p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .content {
    margin-left: 0;
  }
  .content-body {
    padding-left: 0;
  }
}

.question-item {
  border-bottom: 2px solid #000;
}

.question-item.active > .question-item__header {
  padding-left: 5px;
  padding-right: 5px;
}

.question-item.active > .question-item__header img {
  filter: invert(30%) sepia(79%) saturate(3463%) hue-rotate(336deg) brightness(96%) contrast(103%);
}

.question-item__header {
  padding: 10px 0;
  transition: .2s ease;
  cursor: pointer;
}

.question-item__header img {
  margin-left: 1.5rem;
}

.question-item__body {
  padding: 8px 0 18px;
}

.footer-menu ul {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  h1, h3 {
    font-size: 20px;
  }
  .vertical-menu #sidebar {
    padding-bottom: 27px;
    padding-top: 70px;
    padding-right: 26px;
  }
  .typing-effect {
    position: inherit !important;
    margin-left: 1.7rem;
    margin-top: -1.5rem;
  }
  .typing-effect #title {
    margin-left: 0;
  }
  .home {
    height: auto;
    padding-bottom: 27px;
    padding-top: 70px;
    padding-right: 26px;
  }
  .home .logo {
    height: 70vh !important;
  }
  .accordion-nav .accordion {
    width: auto;
  }
  .accordion-nav .accordion-button {
    justify-content: end;
    font-size: 20px;
  }
  .accordion-nav .accordion-body ul {
    text-align: end;
  }
  .home-catalogue {
    margin-top: 43px;
    width: auto;
  }
  .home-catalogue .download-catalogue .img {
    height: 20px;
    width: 20px;
  }
  .home-catalogue .download-catalogue .txt {
    width: auto;
  }
  .home-catalogue .catalogue-book img {
    height: 160px;
    width: 113px;
  }
}
/*# sourceMappingURL=style.css.map */