@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Abel', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

body.bg-blue {
  background-color: #141A41;
}

h3 {
  font-size: 26px;
  font-family: 'Bayon', sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  line-height: 20px;
}

button.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vertical-menu {
  position: fixed;
  top: 0;
  left: 0px;
  width: 371px;
  height: 100%;
  background-color: #141A41;
  z-index: 1000;
}

.vertical-menu #sidebar {
  padding: 43px 67px 58px 30px;
}

.vertical-menu #sidebar img {
  height: 90vh;
}

.content {
  margin-left: 371px;
}

.content.flex-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.content-body {
  margin: 51px 0;
  padding-left: 20px;
}

.content-body article {
  margin-top: 1.6rem;
}

.content-body article p {
  margin-bottom: 1rem;
}

.question-item {
  border-bottom: 2px solid #000;
}

.question-item.active > .question-item__header {
  padding-left: 5px;
  padding-right: 5px;
}

.question-item.active > .question-item__header img {
  -webkit-filter: invert(30%) sepia(79%) saturate(3463%) hue-rotate(336deg) brightness(96%) contrast(103%);
          filter: invert(30%) sepia(79%) saturate(3463%) hue-rotate(336deg) brightness(96%) contrast(103%);
}

.question-item__header {
  padding: 10px 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
}

.question-item__header img {
  margin-left: 1.5rem;
}

.question-item__body {
  padding: 8px 0 18px;
}
